@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    :root {
        --text-primary-color:#fff;



        /* background color */
        --bg-profile-color:#282828
    }
}


input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: red;
  cursor: pointer;
}


input[type="range"]::-moz-range-thumb {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: red;
  cursor: pointer;
}
